@font-face {
  font-family: "iconfont"; /* Project id 3424377 */
  src: url('//at.alicdn.com/t/font_3424377_sm2vxo65tml.woff2?t=1653368451190') format('woff2'),
       url('//at.alicdn.com/t/font_3424377_sm2vxo65tml.woff?t=1653368451190') format('woff'),
       url('//at.alicdn.com/t/font_3424377_sm2vxo65tml.ttf?t=1653368451190') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*邮箱图标*/
.icon-youxiang:before {
  content: "\e632";
}
/* 卡片处小图标 */
.card_icon_yx {
  /* 修改颜色 */
  /*color: blue;*/
  /* 修改大小 */
  font-size: 26px;
}

/*微信图标*/
.icon-weixin:before {
  content: "\e600";
}
.card_icon_wx {
  /* 修改颜色 */
  /*color: blue;*/
  color: rgb(10, 192, 40);
  /* 修改大小 */
  font-size: 26px;
}

/*QQ图标*/
.icon-QQ:before {
  content: "\e882";
}

/*Github图标*/
.icon-github-fill:before {
  content: "\e885";
}
.card_icon_git {
  /* 修改颜色 */
  /*color: blue;*/
  /* 修改大小 */
  font-size: 24px;
}


